<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ name }}'s Resume</title>

    <!-- or type="text/sass" -->
    <style type="text/scss">
      .resume {
        h1 {
          weight: bold;
        }
      }
    </style>
  </head>
  <body class="resume">
    <h1>{{ name }}'s Resume</h1>
    <!-- todo -->
  </body>
</html>
